<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717499981431-f7pdqrbls4fa4anniqimml8rb3cmnib2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717499981431-f7pdqrbls4fa4anniqimml8rb3cmnib2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>717499981431-qe66t04i6032rcd2im84ccefh1g0bqbq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDN8Ebd5WQjRoBN-eDCZEjUDRmbbZR4Ex8</string>
	<key>GCM_SENDER_ID</key>
	<string>717499981431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softwareSolutions.uwwbcChatApp</string>
	<key>PROJECT_ID</key>
	<string>uwwbcchat-68645</string>
	<key>STORAGE_BUCKET</key>
	<string>uwwbcchat-68645.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717499981431:ios:5b28b6139fa8ed5d7a7072</string>
</dict>
</plist>